<div class="container-fluid changeToggler" togglerColor="#AC5511">

    <div class="row header changeToggler" togglerColor="#FEF9EF">
        <h1 class="hidden" animate_me="fade-down-element">Hi, I'm Kelsey</h1>
    </div>

    <div class="row first" >
        <div class="col-12 col-lg-6">
            <img class="img img-responsive hidden" animate_me="fade-in-element" src="assets/images/Kelsey.JPG">
        </div>
        <div class="col-12 col-lg-6">
            <div class="paragraph lefty hidden" animate_me="fade-left" animation_delay="1000">
                <h3>It's nice to meet you</h3>
                <br>
                <p>
                    I'm 24 years old, residing in the stunning town of Kimberley, BC. 
                    I moved here from Australia in 2019, and have thoroughly enjoyed the
                  experiences and people I have encountered. Now I am seeking a new adventure with 
                  my dog, Pippin, in tow.
                </p>
                <p>
                    I love to garden, read, sing and hike, and
                  just to be out and about in nature with Pip.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="paragraph">
                <h3 class="righty hidden" animate_me="fade-right">My Education journey</h3>
                <br>
                <p class="righty hidden" animate_me="fade-right">
                    I have completed my Bachelor of Computer Science online while working 
                    full time and supporting myself. I achieved a GPA of 6.85 out of 7.0 and was listed a
                    Vice Chancellor's Scholar.
                </p>
                <p class="righty hidden" animate_me="fade-right">
                    While studying I worked as a waitress at a lovely little
                    restaurant, Pedal & Tap, where I learned a lot about
                    catering to people and helping them get the experience
                    they are after. In the gaps of all that, I made
                    sure to get out and about to enjoy this beautiful place I've had the pleasure of
                    living in.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <img class="img img-responsive hidden" animate_me="fade-in-element" animation_delay="1800" src="assets/images/pip_snow.jpg">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <img class="img img-responsive hidden" animate_me="fade-in-element" src="assets/images/pip2.jpg">
        </div>
        <div class="col-12 col-lg-6">
            <div class="paragraph lefty hidden" animate_me="fade-left">
                <h3>Career Interests</h3>
                <br>
                <p>
                    My passions are with front-end design. I want to create websites
                    and user interfaces that truly represent the essence of each
                    business and individual I work with. I also want them to be a 
                    pleasure to use for the user. Each website should be 
                    a great experience - it's often the first your customer will
                    have with you.
                </p>
                <p>
                    To help me achieve this I have been working on my Google UX 
                    Design Certificate during breaks at university.
                </p>
            </div>
        </div>
    </div>

    <div class="row last">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="paragraph">
                <h3 class="hidden righty" animate_me="fade-right">Why tell you all of this?</h3>
                <br>
                <p class="hidden righty" animate_me="fade-right">
                    I am hoping it gives you a sense of who I am and what I can
                    do for you and your business. I also hope it gives you
                    confidence that I have experience juggling
                    responsibilities and can work efficiently from home when needed. 
                </p>
                <p class="hidden " animate_me="fade-in-element">
                    Want to hear more?
                </p>
                <br>
                <a href="resume">
                    <button type="button" class="btn btn-outline-dark btn-lg hidden" animate_me="fade-up-element" animation_delay="1200" id="resume_button">
                        See my full resume <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <img class="img img-responsive hidden" animate_me="fade-in-element" src="assets/images/stmarys.JPG">
        </div>
    </div>
</div>
