<div class="container changeToggler" togglerColor="#FEF9EF">
    <!-- split page in two, except on very small screens -->
    <div class="row hidden changeToggler" togglerColor="#FEF9EF">
        <div class="col-12 col-md-6 head">
            <h1 class="name hidden inner-righty" animate_me="fade-right">KELSEY</h1>
            <h1 class="name hidden inner-righty" animate_me="fade-right">GROVER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 left">
            <h2 class="hidden inner-righty" animate_me="fade-right">EDUCATION</h2>
            <p class="hidden inner-righty" animate_me="fade-right">Bellingen High School (2017) - ATAR 94.9</p>
            <p class="hidden inner-righty" animate_me="fade-right">
                B.S. Computer Science (ongoing)<br>
                University of New England <br>
                June 2020 - Current date (1 year remaining)<br>
                Australia<br>
                GPA: 6.929 / 7.0 <br>
                Study Mode: Online
            </p>
            <div class="row hidden inner-righty" animate_me="fade-right">
                <div class="col-12 col-sm-9 order-2 order-md-1">
                    <div class="progress-bar" id="degree"></div>
                </div>
                <div class="col-12 col-sm-3 order-1 order-md-2 label-left"><p>95.83% complete</p></div>
            </div>
            <button (click)="expand()" class="collapsible hidden inner-righty" animate_me="fade-right">List of completed units <i class="fa-solid fa-arrow-down-wide-short" style="color: #ffffff; padding-left: 2%;"></i></button>
            <div class="dropdown" id="units">
                <p>
                    <a href="https://handbook.une.edu.au/units/2024/COSC101?year=2024">COSC101 - Software Development Studio 1</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC110?year=2024">COSC110 - Introduction to Programming and the UNIX Environment</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/STAT100?year=2024">STAT100 - Introduction to Statistical Modelling</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC120?year=2024">COSC120 - Object Oriented Programming</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/AMTH140?year=2024">AMTH140 - Discrete Mathematics</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/MTHS120?year=2024">MTHS120 - Calculus and Linear Algebra 1</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/PSYC101?year=2024">PSYC101 - Introductory Psychology I</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/LING101?year=2024">LING101 - Introduction to Linguistics</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/PSYC102?year=2024">PSYC102 - Introductory Psychology II</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/LING102?year=2024">LING102 - Foundations of Linguistics</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC230?year=2024">COSC230 - Data Structures and Algorithms</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC250?year=2024">COSC250 - Functional and Reactive Programming</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC210?year=2024">COSC210 - Database Management Systems</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC220?year=2024">COSC220 - Software Development Studio 2</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC240?year=2024">COSC240 - Operating Systems</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC260?year=2024">COSC260 - Web Programming</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC370?year=2024">COSC370 - User Experience and Interaction Design</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC310?year=2024">COSC310 - Software Project Management</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/MM203?year=2024">MM203 - Management Practices in Responsible Organisations (ongoing)</a><br>
                    <a href="https://handbook.une.edu.au/units/2024/COSC372?year=2024">COSC372 - Management Information Systems (ongoing)</a><br>
                </p>
            </div>
            <h2 class="hidden inner-righty" animate_me="fade-right">CONTACT</h2>
            <p class="hidden inner-righty" animate_me="fade-right">
                kelsey.brahe.grover@gmail.com<br>
                +1 250 - 908 - 9388 <br>
                Kimberley, British Columbia
            </p>

            <h2 class="hidden inner-righty" animate_me="fade-right">RELEVANT SKILLS</h2>
            <p class="hidden inner-righty" animate_me="fade-right">
                Confident: CSS, HTML, JavaScript, Angular, Linux<br>
                Familiar: Python, Java, Git, SQL, C++, Typescript, Powershell
            </p>

            <h2 class="hidden inner-righty" animate_me="fade-right">COURSES OF NOTE</h2>
            <p class="hidden inner-righty" animate_me="fade-right">
                User Experience and Interaction Design<br>
                Software Project Management<br>
                Web Programming<br>
                Functional and Reactive Programming<br>
                Database Management Systems
            </p>

            <h2 class="hidden inner-righty" animate_me="fade-right">CERTIFICATIONS</h2>
            <p class="hidden inner-righty" animate_me="fade-right">Google UX Design Certificate (ongoing)</p>
            <div class="row hidden inner-righty" animate_me="fade-right">
                <div class="col-12 col-sm-9 order-2 order-md-1">
                    <div class="progress-bar" id="UX"></div>
                </div>
                <div class="col-12 col-sm-3 order-1 order-md-2 label-left"><p>71.42% complete</p></div>
            </div>
                
            <p class="hidden inner-righty" animate_me="fade-right">
                <br>
                The Modern JavaScript Bootcamp (2020)<br>
                The Modern Angular Bootcamp (2020)<br>
                The Ultimate MySQL Bootcamp (2020)<br></p>
        </div>
        <div class="col-12 col-md-6 right hidden">
            <h2 class="hidden lefty" animate_me="fade-left">CAREER OBJECTIVE</h2>
            <p class="hidden lefty" animate_me="fade-left">
                I am passionate about Front-end development but am open to learning 
                more about back-end. I hope to one day work closely with clients to 
                bring their dream website to life, and hopefully go a little beyond 
                what they thought possible.
            </p>

            <h2 class="hidden lefty" animate_me="fade-left">WORK EXPERIENCE</h2>
            <p class="hidden lefty" animate_me="fade-left">
                <b>Team Leader, Boost Juice Bondi Junction</b><br>
                July 2018 - February 2019<br>
                While studying in Sydney, Australia, I got a job at the fast-paced 
                environment of Boost Juice in one of its busiest locations. I quickly 
                made my way up from new hire to team leader, which involved staff management, 
                customer service, store open and close and money handling. I only left my position 
                to travel Europe and move to Canada. Please find the attached reference. 
            </p>
            <p class="hidden lefty" animate_me="fade-left">
                <b>Server / Bartender, Pedal & Tap</b><br>
                December 2019 - Current Date<br>
                Upon arrival in Canada, I landed a job at one of Kimberley's most popular 
                restaurants. I made my way up from Busser/Hostess to Server and recently 
                learned to man the bar. The job involves store open and close, money handling 
                and customer service. My position at Pedal & Tap has been a great experience 
                and the flexibility has allowed me to continue my degree online.
            </p>
            <h2 class="hidden lefty" animate_me="fade-left">PROJECTS</h2>
            <p class="hidden lefty" animate_me="fade-left">
                Projects for school: Mobile App project concept including prototypes and user 
                testing, Case Study of failed software project to explore proper management techniques, 
                User registration project, Coding mini games and animations, logic and unit tests for 
                a Leaderboard in a large group project creating a mini game server.<br><br>
                Passion projects: Various website designs using Angular or REST API (HTML, CSS, JS). 

            </p>
        </div>
    </div>

    <div class="reference hidden" animate_me="fade-down-element">
        <img src="assets/images/Picture1.jpg" id="boost">
    </div>
</div>
