<div class="container-fluid">

    <div class="row" id="header-row">
        <div class="header changeToggler col-12" togglerColor="#FEF9EF">
            <h1 class="title hidden" animate_me="fade-up-element">Kelsey Grover</h1>
        </div>
    </div>

    <div class="row changeToggler" togglerColor="#AC5511">
        <!-- left column -->
        <div class="col-12 col-md-6 left-col">
            <h2 class="hidden" animate_me="fade-up-element">
                Minimal, responsive web design, tailored to fit you
            </h2>
            <h2 id="emphasised">perfectly.</h2>
            <h2 class="hidden" animate_me="fade-up-element" animation_delay="2000">So that you can get back to what you do best.</h2>
            <a href="resume">
                <button type="button" class="btn btn-outline-dark btn-lg hidden" animate_me="fade-up-element" animation_delay="3000" id="resume_button">
                    See my full resume <i class="fa-solid fa-arrow-right"></i>
                </button>
            </a>
            <a href="about">
                <button type="button" class="btn btn-outline-dark btn-lg hidden" animate_me="fade-up-element" animation_delay="4000" id="about_button">
                    Who am I?
                </button>
            </a>
        </div>

        <!-- right column, core skills -->
        <div class="col-12 col-md-6 core-skills d-flex justify-content-center">
            <div class="circle">
                <div class="text">
                    <p id="spinner-text">HTML - CSS - JS - Angular JS - Python - Linux - SQL - Git -</p>
                    <div class="inner-circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="parentRow" class="hidden changeToggler" togglerColor="#FEF9EF" animate_me="fade-down-element">
        <div class="row second" id="second">
            <div class="col hidden" animate_me="fade-in-element" animation_delay="1000">
                <h2>At a glance</h2>
            </div>
        </div>
    
        <div class="third hidden" animate_me="fade-in-element">
            <div>
                <p>Education: Bachelor of Computer Science (ongoing) & Google UX Design Certificate (ongoing)</p>
                <p>Confident: CSS, HTML, JavaScript, Angular, Linux
                </p>
                <p>Familiar: Python, Java, Git, C++, SQL, Typescript, Powershell, Bash
                </p>
                <br>
                <a href="resume">
                    <button type="button" class="btn btn-outline-dark btn-lg">
                        More details <span> > </span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="row fourth changeToggler" togglerColor="#AC5511">
        <h1>Portfolio</h1>
    </div>
    
    <div class="container justify-content-center portfolio">
        <div class="row changeToggler" togglerColor="#AC5511">
            <div class="gcol col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/landing.mp4" type="video/mp4">
                </video>
            </div>
            <div class="gcol col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/h_menu.mp4" type="video/mp4">
                </video>
            </div>
            <div class="gcol col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/h_scrolling.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center changeToggler" togglerColor="#AC5511">
            <div class="col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/opening.mp4">
                </video>
            </div>
            <div class="col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/scrolling.mp4">
                </video>
            </div>
            <div class="col-12 col-xl-4">
                <video width="100%" height="100%" autoplay muted loop controls>
                    <source src="assets/gifs/Menu.mp4">
                </video>
            </div>
        </div>
    </div>
</div>

